/_src/ders/public/assets/*.pdf binary
/_src/ders/public/assets/elif-ba-pages/*.webp binary
/_src/ders/public/assets/kuran-i-kerim-pages/*.webp binary
/ders/assets/*.pdf binary
/ders/assets/elif-ba-pages/*.webp binary
/ders/assets/kuran-i-kerim-pages/*.webp binary
